<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link href="css/type.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="description" content="Heather Sanders Portfolio: Showing work created by Heather Sanders.">
    <meta property="og:title" content="Heather Sanders" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="heathersanders.ca"/>
    <meta property="og:image" content=""/>
  </head>
  <body>
<header class="grid">
  <div class="unit xs-1-4 s-1-4 m-1-4 l-1-4">
    <img class="logo" src="images/wordmark-03.png" alt="">
</div>
<nav class="unit xs-3-4 s-3-4 m-3-4 l-3-4">
  <div>
    <ul>
      <li class="choice"><a href="#about">About</a></li>
      <li class="choice"><a href="#work">Work</a></li>
      <li class="choice"><a href="#contact">Contact</a></li>
    </ul>
  </div>
  </nav>
</header>


<main>
  {{content}}
</main>

</body>
</html>
