<!DOCTYPE html>
<html lang="en-ca">
	<head>
		<meta charset="utf-8">
		<title>Portfolio</title>
		<link href="css/type.css" rel="stylesheet">
		<link href="css/grid.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
	</head>
	<body>

<header class="grid">
<nav>
		<div class="unit xs-1-2 s-1-2 m-1-2 l-1-2">
	<img class="logo" src="images/logo-01.png" alt="">
</div>
	<div class="unit xs-1-2 s-1-2 m-1-2 l-1-2">
		<ul>
			<li class="nav"><a href="#about">About</a></li>
			<li class="nav"><a href="#work">Work</a></li>
			<li class="nav"><a href="#contact">Contact</a></li>
		</ul>
	</div>
	</nav>
</header>

<main>
	{{content}}
</main>

</body>
</html>
